/* You can add global styles to this file, and also import other style files */

body {
  background-color: #ffc0cb;
  min-height: 100vh;
  padding: 20px 0;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 30px;
  font-weight: bold;
}
